.body {
    height: 100vh;
	background: #eef1ff;
	border-radius: 8px;
	padding: 16px;
    background-color: #E6EAFF;
}

[data-theme = "dark"] .body {
    background-color: #151e29;
    color: #F9FAFF;
}

.headerRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 16px;
}

.brand { 
    width: 200px;
    height: auto; 
    justify-self: start; 
    margin-left: 10%;
}

.headerActions { 
    display: flex; 
    gap: 8px; 
    align-items: 
    center; 
    margin-left: auto; 
}

.actionsHolder { 
    display: flex; 
    gap: 8px; 
    justify-content: 
    flex-end; width: 
    100%; 
}

.menuColumn {
    display: grid;
    place-items: center;
}