.searchBox {
	display: flex;
	align-items: center;
	gap: 12px;
	padding: 12px 16px;
	border: 2px solid #b7befc;
	border-radius: 999px;
	background-color: #ffffff;

}

[data-theme = "dark"] .searchBox {
	background-color: #454D77;
	border: none;
}

.searchIcon {
	width: 20px;
	height: 20px;
	color: #7a86f6;
	display: grid;
	place-items: center;
}

.searchInput {
	flex: 1;
	border: none;
	outline: none;
	font-size: 16px;
	background-color: #ffffff;
	color: #1f2a44;
}

[data-theme = "dark"] .searchInput {
	background-color: #454D77;
	color: #F9FAFF;
}

@media (min-width: 769px) {
	.searchBox {
		display: flex;
		align-items: center;
		gap: 12px;
		padding: 12px 16px;
		border: 2px solid #b7befc;
		border-radius: 999px;
		background: #ffffff;
		min-width: 420px;
	}
}	