.authWrapper {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden; /* внутренняя прокрутка только у контента */
}
  
.mainContent {
    flex: 1;
    height: 100%;
    overflow: hidden; /* чтобы список прокручивался внутри себя */
}
  
  /* Стили для мобильных устройств (по умолчанию) */
.mainContent {
    padding-bottom: 55px;
    /* margin-left отсутствует */
}
  
  /* Стили для десктопа */
@media (min-width: 769px) {
    .mainContent {
      margin-left: 70px;
      padding-bottom: 0; /* сброс padding-bottom на десктопе */
    }
}